name: ARM am335x-gcc

on:
  push:
    branches: [ main ]
    paths: [ 'arm/am335x/common/**' ]
  
  workflow_dispatch:
env:
  DIR_REPOSITORY: ezioswj/toolchain
  TARGET_DEV: arm/am335x
  GCC_VERSION: gcc7.5
  TARGET_TAG: 1.0
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: arm/am335x/
        push: true
        tags: |
          ghcr.io/${{ env.DIR_REPOSITORY }}/${{ env.TARGET_DEV }}/${{ env.GCC_VERSION }}:latest
          ghcr.io/${{ env.DIR_REPOSITORY }}/${{ env.TARGET_DEV }}/${{ env.GCC_VERSION }}:${{ env.TARGET_TAG }}
          ghcr.io/${{ env.DIR_REPOSITORY }}/${{ env.TARGET_DEV }}/${{ env.GCC_VERSION }}:${{ github.sha }}
